*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.image{
   
    padding: 20px;
    background-image: url('images/bg.png');
 
width: auto;
height: 710px;
background-size: cover;
left: 0px;
top: -11px;
}
.fancy{
    font-family: 'Reenie Beanie', cursive;
    color: #C82333;
}
.headings{
    margin-top: 250px;
}
 /* search */
.wrapper{
	position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255,1);
    max-width: 800px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);;

}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
   
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
/* popular places */
div.popular{
margin-top: 100px;
text-align: center;
}
div.names{
    color: white;
    margin-top: 200px;

}
div.place-img{
 
    width: 246px;
    height: 274px;
    background: #FEFEFE;
    border-radius: 21px;
    transition: 0.4s;
    background-image: url('images/Rectangle\ 8.png');
    background-size: cover;
}
div.gallery{

    display:flex;
    margin: auto;
    justify-content: space-evenly;
}
div.place-img:hover{
    box-shadow: 0px 10px 20px rgba(70, 70, 70, 0.4);
transform: scale(1.1);
}
/* more item btn */
div#moreItem{
    box-shadow: 0px 10px 30px #C82333 ;
}

/* services */

.fas{
    color: #c82333c7;
}
.fas:hover{
    color: #C82333;
}
div.service{
    margin-top: 100px;
}
/* testimonails */
div.testimonials{
    margin: 100px;
}
h1.test{
    text-align: center;
}
h4.testText{
    width: 100%;
    text-align: center;
}
/* footer */
div.footerBig{
color: white;
    background-color:#c82333c7;
    padding: 20px;
}


/* mobile responsive */
@media only screen and (max-width: 600px) {


    
    div.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    div.place-img{
        margin: 4px;
    }

    .image{
   
        padding: 20px;
        background-image: url('images/bg.png');
     
    width: auto;
    height: 360px;
    background-size: cover;
 
    }
    .headings{
        margin-top: 10px;
        
    }
    h3.fancy{
        font-size: 15px;

    }
    h1.firstHeading{
        font-size: 20px;
    }
    h3.secondHeading{
        font-size: 15px;
    }
    .wrapper{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(255, 255, 255,1);
        max-width: 800px;
        width: 90%;
        padding:0px;
    
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);;
    
    }
    body{
        overflow-x: hidden;
    }

    h1.tagline{
        font-size: 30px;
    }
    h1.test{
        text-align: center;
    }
    h4.testText{
        font-size: 14px;
        width: 100%;
        text-align: center;
    }
footer{
    font-size: smaller;
}

}